<h2>Neal's story</h2>

<a href="#/view"><input type="submit" value="View" /></a>

<div ng-repeat="pass in passages">
  <div class="passage" id="{{ pass.title }}">
    <h3>{{ pass.title }}</h3>
    <p>{{ pass.text }}</p>
    <a href="" ng-click="toggleEdit($index)">Edit</a>
    |
    <a href="" ng-click="deletePassage($index)">Delete</a>
    <form ng-class="{hidden: !editVisibility[$index]}" ng-submit="editPassage($index)">
      <br>
      <label for="pass-$index-title">Title</label>
      <input type="text" id="pass-$index-title" ng-model="edits[$index].title" value="{{ pass.title }}" />
      <br>
      <label for="pass-$index-text">Text</label>
      <textarea rows="10" cols="100" id="pass-$index-text" ng-model="edits[$index].text">{{ pass.text }}</textarea>
      <br>
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>

<hr>

<h4>Add a new passage:</h4>

<form ng-submit="submitPassage()">
  <label for="passage-title">Title</label>
  <input type="text" id="passage-title" ng-model="passage.title" />
  <br>
  <label for="passage-text">Text</label>
  <textarea rows="10" cols="100" id="passage-text" ng-model="passage.text"></textarea>
  <br>
  <input type="submit" value="Add" />
</form>

<hr>

Passage: {{ passage }}
<br>
Passages: {{ passages }}
<br>
<br>

<form ng-submit="importJSON()">
  <label for="import-json">Import JSON:</label>
  <input type="text" id="import-json" ng-model="json" />
  <input type="submit" value="Import" />
</form>
